<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.changsukuaidi.www">

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup, android:label">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cskd.express.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".modules.login.launcher.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BackGroundLauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--裁剪activity-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".modules.login.forget_password.ForgetPwdActivity">

        </activity>

        <activity android:name=".modules.login.LoginActivity">

        </activity>

        <activity android:name=".modules.login.forget_password.ForgetPwdActivityTwo">

        </activity>

        <activity android:name=".modules.punch.PunchActivity">

        </activity>

        <activity android:name=".modules.home.HomeActivity">

        </activity>

        <activity android:name=".modules.home.list.HomeListActivity">

        </activity>

        <activity android:name=".modules.settings.SettingsActivity">

        </activity>

        <activity android:name=".modules.settings.modify_pwd.ModifyPwdActivity">

        </activity>

        <activity android:name=".photo_pick.PhotoAlbumActivity">

        </activity>

        <activity android:name=".photo_pick.PhotoAlbumDetailActivity">

        </activity>

        <activity android:name=".modules.task.MyTaskActivity">

        </activity>

        <activity android:name=".photo_pick.photo_preview.PhotoActivity">

        </activity>

        <activity android:name=".modules.drive_record.DriveRecordActivity">

        </activity>

        <activity android:name=".modules.drive_record.drive_detail.DriveDetailActivity">

        </activity>

        <activity android:name=".modules.task.exception_back.ExceptionBackActivity">

        </activity>

        <activity android:name=".modules.task.exception_back.exception_detail.ExceptionDetailActivity">

        </activity>

        <activity android:name=".scan.CaptureActivity">

        </activity>

        <activity android:name=".modules.pickup.manual.PickupManualActivity">

        </activity>

        <activity android:name=".modules.pickup.sign.ConfirmReceiptActivity">

        </activity>

        <activity android:name=".modules.task.history.HistoryActivity">

        </activity>

        <activity android:name=".modules.task.tripartite_dispatch.TripartiteActivity">

        </activity>

        <activity android:name=".modules.task.detail.TaskDetailActivity">

        </activity>

        <activity android:name=".modules.task.grab_task.GrabTaskActivity">

        </activity>

        <activity android:name=".modules.task.end_point.EndPointActivity">

        </activity>

        <activity android:name=".modules.colleague_pos.ColleaguePosActivity">

        </activity>

        <service android:name=".service.LocateAndOrientationService">

        </service>
    </application>

</manifest>